.l-header {
grid-area: my-header;
}
.l-nav {
grid-area: my-nav;
}
.l-main {
grid-area: my-section; /* Поменяли местами с l-section */
}
.l-aside {
grid-area: my-aside;
}
.l-section {
 grid-area: my-main; /* Поменяли местами с l-main */
}
.l-footer {
grid-area: my-footer;
}
.box-init {
font-size: larger; /* размер шрифта */
color: #fff; /* цвет текста */
border-radius: 5px; /* скругление углов */
background-color: #2196f3; /* цвет фона */
border: 1px solid black; /* граница блока */
padding: 10px; /* внутренние отступы */
/* выравнивание текста по центру блока
с помощью CSS Flexbox */
display: flex;
align-items: center;
justify-content: center;
}
.grid {
display: grid;
grid-gap: 10px;
grid-template-areas:
"my-header my-header my-header"
"my-aside my-section my-nav"
"my-main my-section my-nav"
"my-footer my-footer my-footer";
grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}
.l-aside, .l-main, .l-section {
    overflow-y: auto;
    max-height: 100%; /* Ограничиваем максимальную высоту ячеек */
}
